$base-light: #f3f0ec;
$base-pale: #ede9e2;
$base-dark: #7f7b74;

$ice-light: #e4f5f5;
$ice-soft: #79cece;
$ice-dull: #5b9b9b;

$twitter: #00afd1;
$facebook: #5b83b7;
$pinterest: #cb2027;
$tumblr: #32506A;

$white: #fff;
$black: #000;
