/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require rails_bootstrap_forms
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "_colors";


// For message panels:
.message {
  font-size: 16px;
  padding: 10px;
}

// Override button color
$color: #E4F5F5;
$background: #5B9B9B;//#79CECE;
$border: #5B9B9B;//#79CECE;
.btn-info {
  @include button-variant($color, $background, $border);
}

#footer {
  background-color: $base-pale;
  clear: both;
  text-align: center;
  padding: 20px;
  width:  100%;
  position: absolute ; // For sticky footer
  bottom: 0;
  left: 0;
  margin-top: -100px;
  height: 100px;
  ul {
    border-left: 1px solid $white;
    display: inline-block;
    padding: 0;
  }
  li {
    display: inline-block;
    padding: 2px 20px;
    border-right: 1px solid $white;
  }
}

// Header's logo related styles
.navbar-inverse {
  background-color: #79CECE;//#3F3F3F;
  border-color: #79CECE;//#3F3F3F;
}

.collapse-item {
  padding-top: 10px;
}

.logo {
  float:left;
  display: inline-block;
  vertical-align: middle;
  margin: 10px 20px 10px 10px;
  height: 40px;
}

.glyphicon-search:before {
  color: #79CECE;
}

h1 {
  padding: 10px 0;
  margin: 20px 0;
  color: $ice-soft;
  border-bottom: 2px solid $ice-soft;
  font-weight: 700;
}

h1.h1-description {
  color: #FFF;
  margin: 0px;
}

hr {
  border-top: 3px dotted $white;
}

img { max-width: 100%; }
